
<div class="container-lg position-absolute top-50 start-50 translate-middle">

    <div class="row">
        <h1 class="mt-4">Consulte e edite seu chamado</h1>
        <div class="col-7">
            <form >
                <div class="row">
                    <div class="col-10 mt-3" id="grid">
                        <div class="mb-4">
                            <label for="name" class="form-label">Nome</label>
                            <input id="name" type="text" class="form-control" formControlName="name" placeholder="Informe o nome de quem requisitou o chamado"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="mb-4">
                                <label for="sector" class="form-label">Setor</label>
                                <select id="sector" class="form-select" aria-label="Default select example"
                                    formControlName="sector">
                                    <option value="ADMINISTRAÇÃO">Administração</option>
                                    <option value="COMERCIAL">Comercial</option>
                                    <option value="ECOMMERCE">E-commerce</option>
                                    <option value="FINANCEIRO">Financeiro</option>
                                    <option value="GERENCIA">Gerencia</option>
                                    <option value="IMPORTAÇÃO">Importação</option>
                                    <option value="RECEPÇÃO">Recepção</option>
                                    <option value="RH">RH</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-5">
                            <label for="problem" class="form-label">Problema</label>
                            <select id="problem" class="form-select" aria-label="Default select example"
                                formControlName="problem">
                                <optgroup label="Serviços">
                                <option value="SERVICOS_INTERNET">Internet</option>
                                <option value="SERVICOS_TELEFONIA">Telefonia</option>
                                <option value="SERVICOS_VOIP">Voip</option>
                                <optgroup label="Sistema"> 
                                <option value="SISTEMA_LENTIDAO">Sistema Lento</option>
                                <option value="SISTEMA-OFFLINE">Sistema Offline</option>
                                <optgroup label="Equipamento"> 
                                <option value="EQUIPAMENTO_COMPUTADOR">Computador</option>
                                <option value="EQUIPAMENTO_IMPRESSORA">Impressora</option>
                                <option value="EQUIPAMENTO_COLETOR">Coletor</option>
                                <option value="EQUIPAMENTO_TELEFONE">Telefone</option>
                                <option value="EQUIPAMENTO_LEITOR">Leitor</option>
                                <optgroup label="Periferico"> 
                                <option value="PERIFERICO_MOUSE">Mouse</option>
                                <option value="PERIFERICO_TECLADO">Teclado</option>
                                <option value="PERIFERICO_MONITOR">Monitor</option>
                                <optgroup label="Plataforma"> 
                                <option value="PLATAFORMA_SHOPEE">Shopee</option>
                                <option value="PLATAFORMA_SHEIN">Shein</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" [disabled]="" class="btn btn-dark mt-2 btn-lg">Consultar chamado</button>

            </form>

        </div>
        <div class="col">
        <div class="col-10" id="image">
            <img src="../../../assets/find-azul.svg" alt="tec" class="float-center">
        </div>
        </div>
    </div>
</div>

<button class="btn btn-secondary mx-2 mt-2 btn-md" routerLink="/">Voltar para cadastro de chamado</button>
