<div class="modal-header">
    <h4 class="modal-title" id="modalLabel text-center" >Chamado</h4>
</div>
<div class="modal-body" text-center>
    <div>
        <p><strong>Nome:</strong> {{ticket.name}}</p>
        <p><strong>Setor:</strong> {{ticket.sector}}</p>
        <p><strong>Problema:</strong> {{ticket.problem}}</p>
        <hr>
        <p><strong>Descrição:</strong></p>
        <p>{{ticket.description}}</p>
        <hr>
        <p><strong>Abertura:</strong> {{ticket.initialDate | date : 'dd/MM/yyyy - HH:mm'}}</p>
        <p><strong>Status:</strong> {{ticket.status}}</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close()">Fechar</button>
</div>