<div class="container-fluid">


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Setor</th>
        <th scope="col">Problema</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets | paginate: {itemsPerPage: 8, currentPage: paginaAtual}; let i = index">
        <th scope="row">{{ticket.id}}</th>
        <td>{{ticket.name}}</td>
        <td>{{ticket.sector}}</td>
        <td>{{ticket.problem}}</td>
        <td>{{ticket.status}}</td>
        <td>
          <button type="button" class="btn btn-secondary btn-sm" (click)="openModalTicket(ticket)">
            <fa-icon [icon]="circleInfo"></fa-icon>
          </button>

          <button id="check"type="button" class="btn  btn-sm mx-2" (click)="statusSolve(ticket.id, ticket)">
            <fa-icon [icon]="circleCheck"></fa-icon>
          </button>

          <button type="button" class="btn btn-danger btn-sm" (click)="statusCancel(ticket.id, ticket)">
            <fa-icon [icon]="ban"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
    nextLabel="Próximo"></pagination-controls>

  


</div>