
<div class="modal-header">
    <h4 class="modal-title" id="modalLabel text-center">Revisar chamado</h4>
</div>
<div class="modal-body" text-center>
    <div>
        <form [formGroup]="reviewForm" (ngSubmit)="reviewUpdate()">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Revise o chamado" id="floatingTextarea" formControlName="review" autofocus></textarea>
                <label for="floatingTextarea">Revisão de chamado</label>
              </div>
            <button type="submit" [disabled]="!reviewForm.valid" class="btn btn-dark btn-sm mt-2 btn-lg">Revisar</button>
        </form>
    </div>
</div>